<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head"></div>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="content flex-container">
    <div class="item flex-item">
        <div th:replace="fragments/navigation :: navigation"></div>
    </div>
    <div class="item flex-item">
        <div class="item-content-wrapper">
            <h2 class="content-head">Werkdag Aanpassen</h2>
            <form class="form" method="post" th:action="@{/workday/edit/{workdayId}(workdayId=${id})}">
                <div class="form-row">
                    <div class="form-set">
                        <label class="form-item" for="start-date">Start Datum</label>
                        <input class="form-item" type="date" name="start-date" id="start-date" th:value="${startdate}"/>
                    </div>
                    <div class="form-set">
                        <label class="form-item" for="start-time">Start Tijd</label>
                        <input class="form-item" type="time" name="start-time" id="start-time" th:value="${starttime}"/>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-set">
                        <label class="form-item" for="end-date">Eind Datum</label>
                        <input class="form-item" type="date" name="end-date" id="end-date" th:value="${enddate}"/>
                    </div>
                    <div class="form-set">
                        <label class="form-item" for="end-time">Eind Tijd</label>
                        <input class="form-item" type="time" name="end-time" id="end-time" th:value="${endtime}"/>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-set form-set-single">
                        <label class="form-item" for="break-time">Pauze</label>
                        <input class="form-item" type="time" name="break-time" id="break-time" th:value="${breaktime}"/>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-set form-set-single">
                        <label class="form-item" for="validated">Gevalideerd</label>
                        <input class="form-item" type="checkbox" name="validated" id="validated" th:checked="${validated}"/>
                    </div>
                </div>
                <div class="form-row">
                    <input class="button" type="submit" value="Opslaan">
                </div>

            </form>
            <form class="form" method="post" th:action="@{/workday/delete/{workdayId}(workdayId=${id})}">
                <input class="button" type="submit" value="Verwijderen">
            </form>
        </div>
    </div>
</div>
</body>
</html>