<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../../static.css/workday.css">
    <meta charset="UTF-8">
    <title>Clock In</title>
</head>
<div class="clock-button" style="text-align: center">
    <h1 style="font-family: Arial">Clock System</h1>
    <p class="clockinout"><input type="submit" name="commit" value="Clock-in" style="text-align: right"></p><table style="width:100%">
    <tr class="table-items">
        <th>Date</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Duration</th>
        <th>Break Time</th>
    </tr>
    <tr>
        <td>14-03-2019</td>
        <td>09:00</td>
        <td>18:00</td>
        <td>09u-00m</td>
        <td>01u-30m</td>
    </tr>
    <tr>
        <td>14-03-2019</td>
        <td>09:00</td>
        <td>18:00</td>
        <td>09u-00m</td>
        <td>01u-30m</td>
    </tr>
</table>
</div>
</html>