.clock-in {
    position: relative;
    margin: 30px auto;
    padding:0px;
    width: 310px;
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.clock-in h1 {
    background-color: #E7717D;
    color: #FFFFFF;
    width: 100%;
    padding: 0px;
    text-align: center;
    font-size: 15px;
    line-height: 40px;
    border-bottom: 1px solid #cfcfcf;
}

.clock-in p.clockin {
    background-color: #E7717D;
    border: none;
    width: 238px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.clock-in p.clockin:hover {
    background-color: #C6878D;
}

@media(max-width: 1000px){
    .content{
        margin-top: 0px;
    }
}.clock-out {
     position: relative;
     margin: 30px auto;
     padding:0px;
     width: 310px;
     -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
     background-color: white;
 }

.clock-out h1 {
    background-color: #E7717D;
    color: #FFFFFF;
    width: 100%;
    padding: 0px;
    text-align: center;
    font-size: 15px;
    line-height: 40px;
    border-bottom: 1px solid #cfcfcf;
}

.clock-out small {
    font-family: Arial;
    text-align: left;
}

.clock-out input {
    margin: 0px 0px 6px -135px;
}

.clock-out p.clockout {
    background-color: #E7717D;
    border: none;
    width: 238px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.clock-out p.clockout:hover {
    background-color: #C6878D;
}

@media(max-width: 1000px){
    .content{
        margin-top: 0px;
    }
}
/*
Header css
 */
.header-div{
    background-color: #E7717D;
    color: #FFFFFF;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.header-head{
    margin: 0px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    font-family: 'Open Sans', sans-serif;
}