.login {
    position: relative;
    margin: 30px auto;
    padding:0px;
    width: 310px;
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    background-color: white;
}

.login h1 {
    background-color: #E7717D;
    color: #FFFFFF;
    width: 100%;
    padding: 0px;
    text-align: center;
    font-size: 15px;
    line-height: 40px;
    border-bottom: 1px solid #cfcfcf;
}

.login p.submit {
    text-align: right;
    padding: 10px;
}

.login input[type = text], .login input[type = password] {
    width: 280px;
}

input.login {
    font-family: sans-serif;
    font-size: 14px;
}

@media(max-width: 1000px){
    .content{
        margin-top: 0px;
    }
}
/*
Header css
 */
.header-div{
    background-color: #E7717D;
    color: #FFFFFF;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.header-head{
    margin: 0px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    font-family: 'Open Sans', sans-serif;
}