.clock-button {
    position: relative;
    margin: 30px auto;
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}

h1.login-header {
    font-family: Arial;
    padding: 10px 10px 10px;
    font-size: 15px;
    border-bottom: 1px solid #cfcfcf;
    background: #E6E6E6;
    color: dimgray;
}

table.login-table, th.login-table-header, td.login-table-data {
    border: 1px solid black;
    border-collapse: collapse;
}

/*Not used I believe*/