<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Open+Sans|Raleway&display=swap" rel="stylesheet">
    <title>Admin Paneel</title>
</head>
<body>
    <div class="header-div">
        <h1 class="header-head">Admin Paneel</h1>
    </div>
    <div class="content flex-container">
        <div class="item flex-item">
            <nav class="nav">
                <ul class="nav-list">
                    <a class="nav-item" th:href="@{/administrator/department}"><li >Afdelingen</li></a>
                    <a class="nav-item" th:href="@{/administrator/user}"><li>Gebruikers</li></a>
                    <a class="nav-item" th:href="@{/administrator/workday}"><li>Werkdagen</li></a>
                </ul>
            </nav>
        </div>
        <div class="item flex-item">
            <nav class="nav nav-sub">
                <ul class="nav-list nav-sub-list">
                    <a class="nav-item nav-sub-item" th:href="@{/administrator/workday/validated}"><li>Normale Werkdagen</li></a>
                    <a class="nav-item nav-sub-item" th:href="@{/administrator/workday/unvalidated}"><li>Ongevalideerde Werkdagen</li></a>
                </ul>
            </nav>
        </div>
        <div class="item flex-item">
            <div class="item-content-wrapper">
                <h2 class="content-head">Werkdagen</h2>
                <div class="table-wrapper">
                    <table class="data-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Voornaam</th>
                                <th>Achternaam</th>
                                <th>Datum</th>
                                <th>Start dienst</th>
                                <th>Einde dienst</th>
                                <th>Pauze</th>
                                <th>Gevalideerd</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="workday, iterStat : ${workdays}">
                                <td th:text="${iterStat.index}">1</td>
                                <td th:text="${workday.firstname}">Jan</td>
                                <td th:text="${workday.lastname}">Jansen</td>
                                <td th:text="${workday.date}">27-06-2019</td>
                                <td th:text="${workday.starttime}">15:30</td>
                                <td th:text="${workday.endtime}">23:30</td>
                                <td th:text="${workday.breaktime}">00:30</td>
                                <td th:text="${workday.validated}">Ja</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>